/*
You can type here custom CSS code, which will be loaded both on your admin and front-end pages. Please make sure to not override layout properties (positions and sizes), as they can interfere with the sliders built-in responsive functionality. Here are few example targets to help you get started:
*/

.ls-container { /* Slider container */

}

.ls-layers { /* Layers wrapper */ 

}

.ls-3d-box div { /* Sides of 3D transition objects */ 

}

.cmsms_layer_button {
	font-weight:400;
	-webkit-transition:color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
	-moz-transition:color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
	-ms-transition:color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
	-o-transition:color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
	transition:color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}
.cmsms_layer_button.book {
	-webkit-transition:color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
	-moz-transition:color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
	-ms-transition:color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
	-o-transition:color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
	transition:color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}
.cmsms_layer_button.book:hover {
	color:#ffffff !important;
	background-color:rgba(255,255,255,0) !important;
	border-color:rgba(255,255,255,0) !important;
}
.cmsms_layer_button.booklearn{
	-webkit-transition:color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
	-moz-transition:color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
	-ms-transition:color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
	-o-transition:color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
	transition:color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}
.cmsms_layer_button.booklearn:hover {
	color:#ffffff!important;
	background-color:#5cbed6!important;
	border-color:#5cbed6!important;
}